<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout | Log new</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Workout Logger</h1>
  <form action="/new" method="POST" id="form-add">
    <input type="checkbox" id="checkbox" name="checkbox">
    <label for="checkbox">new exercise</label>
    <fieldset>
      <legend>Exercise</legend>
      <label for="muscle"> </label>
      <select class="restore-this" name="muscle" id="muscle">
        <option value="chest">chest</option>
        <option value="biceps">biceps</option>
        <option value="shoulders">shoulders</option>
        <option value="back">back</option>
        <option value="triceps">triceps</option>
        <option value="legs">legs</option>
        <option value="abs">abs</option>
        <option value="abs">abs</option>
      </select>
      <label for="existing"></label>
      <select class="restore-this" name="existing" id="existing">
        <option value="1">test</option>
        <!-- add existing exercise names here -->
      </select>
      <label for="new"></label>
      <input type="text" name="new" placeholder="exercise name" id="new" class="hidden">

    </fieldset>
    <fieldset>
      <legend>details</legend>
      <label for="weight"></label>
      <input class="restore-this" id="weight" type="number" min="1" max="100" name="weight" placeholder="weight (kg)">
      <label for="reps"></label>
      <input class="restore-this" id="reps" type="number" min="1" max="30" name="reps" placeholder="reps">
      <label for="difficulty"></label>
      <select class="restore-this" name="difficulty" id="difficulty">
        <option value="1">easy</option>
        <option value="2" selected="selected">doable</option>
        <option value="3">hard</option>
      </select>
      <input type="submit" value="submit">

    </fieldset>
  </form>
  <a href="/progress">view progress</a>
  <script src="/javascripts/index.js"></script>
</body>

</html>