<!DOCTYPE html>
<html>

<head>
  <title>Workout logger</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Workout Logger</h1>
  <form action="/new" method="POST" id="form-add">
    <label for="muscle-group"> </label>
    <select name="muscle-group" id="muscle-group">
      <option value="chest">chest</option>
      <option value="biceps">biceps</option>
      <option value="shoulders">shoulders</option>
      <option value="back">back</option>
      <option value="triceps">triceps</option>
      <option value="legs">legs</option>
      <option value="abs">abs</option>
      <option value="abs">abs</option>
    </select>
    <label for="new-exercise">new exercise</label>
    <input type="checkbox" id="checkbox-new" name="new-exercise">
    <label for="exercise"></label>
    <select name="existing-exercise" id="select-exercise">
      <!-- add existing exercise names here -->
    </select>
    <input type="text" name="new-exercise" placeholder="exercise name" id="input-exercise" class="hidden">
    <label for="weight"></label>
    <input type="number" min="1" max="100" name="weight" placeholder="weight (kg)">
    <label for="reps"></label>
    <input type="number" min="1" max="30" name="reps" placeholder="reps">
    <label for="difficulty"></label>
    <select name="difficulty" id="difficulty">
      <option value="1">easy</option>
      <option value="2">doable</option>
      <option value="3">hard</option>
    </select>
    <input type="submit" value="submit">
  </form>
  <script src="/javascripts/index.js"></script>
</body>

</html>