<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout | Progress</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <main>
    <h1>Progress</h1>
    <div id="results-container">

    </div>
    <a href="/">go back</a>
  </main>


  <script src="/javascripts/results.js"></script>
</body>

</html>